# Ambiente virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Dados (não versionar)
dados_brutos/
dados_tratados/
modelo/

# IDE
.vscode/
.idea/
*.swp

# SO
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
